@{
    Layout = "";
}

<style>
center{
    font-size: 30px;
    margin-top: 10%;
}
</style>

<center>
    You have already requested this book!!! 
    <p>Browse for more <a asp-controller="BooksUser" asp-action="User_dash"> books </a></p>
</center>